@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@theme {
	--color-gray-background: oklch(0.1722 0.0041 106.82);
	--color-red-primary: oklch(0.5537 0.1953 26.41);
	--color-red-secondary: oklch(0.6828 0.2066 30.81);
	--color-bone-white: #d9d7cb;
	--color-ash-gray: #211e1f;
	--color-footer-background: oklch(0.14 0.0041 106.82);
	--color-gray-tertiary: oklch(0.36 0 0);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.video-mask {
	mask-image: radial-gradient(circle, black 70%, transparent 100%);
}
